<ion-header>
  <ion-toolbar style="--background: #002857">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-auth-form
    #signupForm
    (formSubmitted)="signupUser($event)"
    [actionButtonText]="'Crear cuenta'"
  ></app-auth-form>

  <ion-footer>
    <ion-button expand="block" fill="clear" routerLink="/login">
      YA TENGO UNA CUENTA
    </ion-button>
  </ion-footer>
</ion-content>
