<ion-header>
  <ion-toolbar style="--background: #002857">
    <ion-img
      src="assets/icon/duoc_logo.jpeg"
      style="height: 40px; width: auto"
    ></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-auth-form
    #loginForm
    (formSubmitted)="loginUser($event)"
    [actionButtonText]="'Login'"
  ></app-auth-form>

  <ion-button expand="block" fill="clear" routerLink="/signup">
    CREA UNA NUEVA CUENTA
  </ion-button>

  <ion-button expand="block" fill="clear" routerLink="/reset-password">
    OLVIDÉ MI CONTRASEÑA :(
  </ion-button>
</ion-content>
